@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fbfbfb;
    --foreground: #e2e3e5;
    --light-background: #F6F6F6;
    --light-foreground: #E3E4E6;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #121A25;
    --primary-foreground: #707070;
    --secondary: #fbfbfb;
    --secondary-foreground: #47474729;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --red: #ff000029;
    --warning: #FEB53E;
    --light-dark: #666666;
  }
}
html {
  scroll-behavior: smooth;
}

.triangle-shape {
  position: absolute;
  bottom: -20px; /* Adjust this value to fine-tune the positioning */
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Adjust the border color as needed */
}
.ant-input-outlined:focus, .ant-input-outlined:focus-within{
  border-color:black !important;
}

.linkactive{
  position: relative;

}
.linkactive::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -8px;
  left: 0;
  background-color: #FF0000;
}

.link-underline,
.link-footer {
  position: relative;
}


.link-underline::after,
.link-footer:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -8px;
  left: 0;
  background-color: #FF0000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.link-footer:after {
  background-color: #FF914E !important;
}

.link-underline:hover::after,
.link-footer:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}